.intro{
  margin: 23%;
  margin-top: 20%;
  text-align: center;
}

.nav{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align:center;
}

.options-container{
  padding: 0;
  margin-top: 30px;
  align-self: center;
}

.options{
  margin: 20px 0;
}

.make-selection{
  margin: auto 15%;
}