.project-container{
  position: absolute;
  top: 5%;
  margin: 10px;
  max-width: 400px;
  font-size: 14px;

}t

.project-list{
  display: flex;
  flex-direction: row;
}

.title{
  margin: 40px auto;
  white-space: nowrap;
}