.intro{
  margin-top: 200px; 
}

.intro-container{
  text-align: center;
}

.power-buttons{ 
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 70%;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 5% auto;
  align-self: center;
  z-index: 99;
}

.power-light{
  height: 20px;
  width: 20px;
  background-color: red;
  z-index: 99;
}

.reset-button, .power-button{
  z-index: 99;
  color: darkred;
}

@media screen and (max-width: 720px){

  body{
    background-color: rgb(214	205	200);
  }

  .reset-button, .power-button, .power-light{
    display: none;
  }

  .intro{
    background-color: rgb(139 172 15);
    color: rgb(48, 98, 48);
    width: 350px;
    align-self: right;
    height: 300px;
    border: 30px solid rgb(117	117	117);
    border-bottom-right-radius: 10%;
  }
  
  .intro-container{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  h1.pete-dubeau{
    font-size: 16px;
    margin-top: 110px;
    animation: slide-down 3s linear;
  }

  .gray-bar{
    position: absolute;
    width: 250px;
    height: 30px;
    top: 100px;
    background:rgb(117	117	117);
    z-index: 99;
  }

  .my-portfolio{
    margin-top: 70px;
    font-size: 16px;
  }

  @keyframes slide-down {
    from {margin-top: -40px;}
    to {margin-top: 110px;}
  }

}