body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  background-image: url('https://res.cloudinary.com/dyrvlnond/image/upload/c_crop,h_497/v1612387486/Game_boy_skin_ue5uvl.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-x: -10px;
  background-position-y: -10px; */
  background-clip: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: darkkhaki !important;
  color: darkolivegreen !important;
}

/* 
div.nes-container.is-dark.with-title, .title, span, .project-link-buttons{
  background-color: darkkhaki !important;
  color: darkolivegreen !important;
  border-color: darkolivegreen;
  box-shadow: darkkhaki;
} 
*/